<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Admin" value=";test,1234;admin,1234;" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="ServiceCenterConnectString" value="mysql;server=192.168.100.75;Database=nn_qa_service;uid=qa;pwd=123456;" />
    <add key="ConnectionString" value="serverIp=192.168.103.26;port=6700;username=DBOWN;password=;pooling=false" />
    <add key="KB_ConnectionString" value="serverIp=192.168.103.26;port=6700;username=DBOWN;password=;pooling=false" />
    <add key="SenCache_ConnectionString" value="serverIp=192.168.103.26;port=6700;username=DBOWN;password=;pooling=false" />
    <!--<add key="法律_ConnectionString" value="serverIp=192.168.107.232;port=6020;username=DBOWN;password=;maxpoolsize=200" />-->

    <add key="RecommendUrl" value="http://192.168.107.232/qa.r/" />
    <!--推荐IP，外网-->
    <add key="RecCount" value="50" />
    <add key="SugServerURL" value="http://192.168.107.232/qa.sug" />
    <add key="QaApiAddress" value="http://192.168.107.232/qa.fb/api/" />
    <!--内网IP-->
    <add key="QaContentApi" value="http://192.168.107.232/contentapi/api/" />
    <!--特殊服务接口-->
    <add key="KWUrl" value="http://192.168.107.232/qa.kw/" />
    <add key="username" value="1" />
    <add key="password" value="1" />
    <add key="appkey" value="5cf37c6d248948a2" />
    <add key="appSecret" value="d4c38cbdea484ef4bab9649ca452f766" />

    <add key="callback" value="http://127.0.0.1/web/Login/CallBack" />
    <add key="AuthorizePath" value="http://oauth.cnki.net/AuthorizationServer/OAuth/Authorize" />
    <add key="TokenPath" value="http://oauth.cnki.net/AuthorizationServer/OAuth/Token" />
    <add key="APIServer" value="http://oauth.cnki.net/ResourceServer/" />


    <!--author 第三方登录； center中心网站登录； mirror 镜像登录-->
    <add key="LoginType" value="center" />

    <add key="qaanswer" value="qaanswer" />
    <add key="qakcjs" value="http://192.168.107.232/qa.kc/Scripts/qakeyword.js" />
    <!--收集脚本地址KC-->
    <add key="qakcapi" value="http://192.168.107.232/qa.kc/KeyWord/Get" />

    <add key="servernode" value="192.168.107.232:6379" />

    <!--记录错误日志-->
    <add key="IsWriteErrorLog" value="true" />
    <!--记录跟踪调试日志-->
    <add key="IsWriteTraceLog" value="false" />
    <!--耗时日志-->
    <add key="IsWriteTimeWatchLog" value="true" />
    <!--查询超时-->
    <add key="timeout" value="10000" />
    <!--格式 本地:/web， 远程：http://192.168.100.75/source-->
    <add key="remote" value="/web" />
    <add key="Version" value="6" />

    <add key="CACHE_KB_INTENT_MAP" value="true" />

    <!--以下配置为是否屏蔽指定功能模块-->

    <!--是否使用爬虫拦截服务-->
    <add key="IsVisitMonitor" value="1" />
    <add key="IsAPPAPI" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
